
body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 20px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
}